html, body{
  width: 100%;
  padding: 0;
  margin: 0;
  color: #333333;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 0;
  font-style: normal;
}

#page{
  width: 100%;

}
.navSlide{
  width: 100%;
  position: fixed;
}


#menu-right{
  top: 0px;
  position: fixed;
}

header,
main,
nav,
footer{
  border:1px solid black;
}
main{
  min-height:1000px;
  background-color: white;
  padding-top: 118px;
}
header{
  margin-top: 70px;
}

.navscrolltop{
  top: -118px;
  transition: all 400ms ease-out;
}
.navscrollDown{
  top: 0px;
  transition: all 400ms ease-out;
}

.navbar {
  padding: 30px;
}

#florent-nav ul.align-items-center{
  height: 100%;
  padding-top: 20px;
}

#florent-nav img{
  margin-top: 14px;
}
#florent-nav ul.align-items-center a{
  color: #5488C7; /* couleur du lien actif*/
  color: #164194; /* couleur des liens  */
  text-transform: uppercase;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  margin-right: 15px;
}


/* .off-canvas-close {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 45px;
    top: 45px;
    z-index: 9;
    background: #ffffff;
} */
.off-canvas-wrap {
    height: 100%;
    overflow-y: auto;
    /* padding: 35px 35px; */
    -webkit-overflow-scrolling: touch;
}
.off-canvas-wrap a{

    text-decoration: none;
    color: #333;

}
.widget {
   margin-bottom: 40px;
}

.widget {
   margin-bottom: 50px;
}

.widget:last-child {
    margin-bottom: 0;
}


.widget.widget_nav_menu .menu li {
    margin-bottom: 10px;
}

.widget ul li {
    list-style: none;
}

.widget .social-links a {
    margin-right: 20px;
    color: #cccccc;
}

.widget .social-links a i {
    font-size: 28px;
}

body i.fa {
    font-size: 14px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.off-canvas-close span {
    width: 20px;
    height: 2px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 20px;
}

.sub-menu {
    margin: 10px 0 10px 15px;
}

.off-canvas-close span:before {
    top: auto;
    bottom: -12px;
    -webkit-transform: translateY(-12px) rotateZ(45deg);
    -moz-transform: translateY(-12px) rotateZ(45deg);
    -ms-transform: translateY(-12px) rotateZ(45deg);
    -o-transform: translateY(-12px) rotateZ(45deg);
    transform: translateY(-12px) rotateZ(45deg);
}

.off-canvas-close span:after {
    -webkit-transform: translateY(12px) rotateZ(-45deg);
    -moz-transform: translateY(12px) rotateZ(-45deg);
    -ms-transform: translateY(12px) rotateZ(-45deg);
    -o-transform: translateY(12px) rotateZ(-45deg);
    transform: translateY(12px) rotateZ(-45deg);
}

#menuNavbar{
  width: 100%;
  margin-left: -88px;
}

/* carousel bleu de  départ */

 .carousel-caption h1 {
  padding-bottom: 350px;
  font-size: 3.1em;
  font-weight: bold;
  text-align: center;
}

.carousel-caption span {
  font-size: 0.8em;
  font-weight: lighter;
}
.carousel-control-prev {
position: bottom;
}

/* pictos animés */

.contain-icon {
height: auto;

}

.row {
 width: 80%;
 margin: auto;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80px;
  height: 80px;
  margin-top: 40px;
}

.column {
  height: 250px;
}

.contain-icon p {
  text-align: center;
  text-transform: uppercase;
}

 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #164194;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.column:hover .overlay {
  height: 100%;

}

.text {
  text-align: center;
  line-height: 25px;
  white-space: nowrap;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay .text hr {
  width: 35%;
  height: 1px;
  background-color: white;
  margin-left: 55px;
  line-height: 50px;
}
