footer a{color:white;
text-decoration: none}

/* footer{
margin-left: 20px;
margin-right: 50px;
} */

#bloc-footer{
position:fixed;
bottom:500px;
width: 100%;
}

.rectangle2{
  width: 100%;
  height: 90px;
  float:none;
  background:  #0f2d67;
  box-sizing: border-box;
  display:block;
  line-height:30.4px;
  position:fixed;
  bottom: 20px;
}

.rectangle1{
  width: 100%;
  height: 341px;
  float:none;
  background: #164194;
  box-sizing: border-box;
  display:block;
  line-height:30.4px;
  position:fixed;
  bottom:110px;
}

.texte1{
  text-align:center;
  font-family:"Raleway";
  color:white;
}


.copyright {
  margin-left: 10px;
  font-family:"Raleway";
  color:white;
}

/* .liens{
  float:right;
  color: blue;
  margin-right: 150px;
  } */

.fab {
  opacity: 0.33;
  float:right;
  color: blue;
  height: 28px;
  width: 28px;
}

.sasp{
  opacity: 0.33;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Opteam {
  margin-left: 10px;
}
