footer a{color:white;
text-decoration: none}

#bloc-footer{
position:absolute;
bottom:500px;
width: 100%;
}

.rectangle2{
  width: 100%;
  height: 90px;
  float:none;
  background:  #0f2d67;
  box-sizing: border-box;
  display:block;
  line-height:30.4px;
  position:fixed;
  bottom: 20px;
}

.rectangle1{
  width: 100%;
  height: 341px;
  float:none;
  background: #164194;
  box-sizing: border-box;
  display:block;
  line-height:30.4px;
  position:fixed;
  bottom:110px;
}

.texte1{
  text-align:center;
  font-family:"Raleway";
  color:white;
}

.copyright {
  margin-left: 10px;
  font-family:"Raleway";
  color:white;
  color:#5e7299;
}

.copyright *{
  vertical-align: top;
}

.liens{
  float:right;
  margin-right: 60px;
}

.fab {
  float:right;
  color: blue;
  bottom: 60px;
  font-size: 2.5rem;
  color:#5e7299;
  position: relative;
  margin-left: 20px;
}

.fab:hover{
  color:white;
}


.sasp{
  margin-left: 20px;
  margin-bottom: 20px;
}

.Opteam {
  opacity: 0.5;
  margin-left: 10px;
  color:#5e7299;
}
